/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  padding: 2rem;
  background: #eaf3ff !important;
}

table {
  [mat-header-cell] {
    font-weight: 600;
    color: white;
    background-color: black !important;
  }

  [mat-row]:hover, [mat-row]:nth-child(odd):hover {
    background-color: #eaf3ff;
  }

}

.form-title {
  font-weight: bold;
  color: rgba(0, 36, 128, 0.62);
}
